body{
    background-color: #888888;
}

.menu{
    height: 70px;
    background-color: #ffffff;
}

.navegacao{
    float: right;
    padding-top: 22px;
    padding-right: 50px;
    font-size: 20px;
}

.navegacao a{
    margin-left: 20px;
    text-decoration: none;
}

.navegacao a:hover{
    font-size: 25px;
}

